.content {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    overflow: auto;
}

.menus {
    width: 250px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    border-right: 1px solid #E39976;
}

.title {
    width: 100%;
    text-align: left;
    margin-top: 15px;
    font-family: 'RationalSemiBold';
    font-size: 28px;
    border:none;
    color: #FFFFFF;
    background-color: transparent;
    cursor: pointer;
}

.menu-btn {
    margin-top: 15%;
    font-family: 'RationalMedium';
    align-items: center;
    justify-content: center;

    width: 90%;
    border: 0.5px solid #E6A67C;
    background-color: #FECEB7;
    color: #7F3A00;
    height: 35px;
    border-radius: 9px;
    text-align: left;
    padding-left: 12px;
    cursor: pointer;
}
.menu-btn:hover,
.menu-btn:focus{
    border-color: #B88463;
}
.menu-btn:active{
    color: #945318;
}

.copyright {
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
}

.account-content {
    width: 100%;
}