<div class="modal-wrapper">
    <h2 class="form-title">Ajouter un fichier</h2>
    <div class="form-wrapper">
        @if(validated() == false){
        <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
            @if (uploadError() != '') {
                <div class="form-group-message form-group-error">
                    <img src="Error.svg"/> 
                    <label class="form-group-message-label" [textContent]="uploadError()"></label>
                </div>
            }

            <div class="form-group-file">
                <img src="FileImage.svg"/>
                <div class="form-group-file-infos">
                    <label class="file-name-label" [textContent]="fileName()"
                    [ngClass]="{ 'is-invalid-label': submitted && fileNameError().length > 0 }"></label>
                    <label class="file-size-label" [textContent]="fileSizeStr()"
                    [ngClass]="{ 'is-invalid-label': submitted && fileSizeError().length > 0 }"></label>
                </div>
                <label class="form-group-file-button" for="file" tabindex="3">Changer</label>
            </div>
            @if (submitted && fileNameError().length > 0) {
                <div class="form-group">
                    <label class="error-label" [textContent]="fileNameError()">Le nom du fichier est trop long</label>
                </div>
            }
            @if (submitted && fileSizeError().length > 0) {
                <div class="form-group">
                    <label class="error-label" [textContent]="fileSizeError()">Le fichier doit faire au moins 1Ko</label>
                </div>
            }

            <input hidden formControlName="file" type="file" id="file" (change)="onFileSelected($event)"/>

            <div class="form-group">
                <label class="form-label">Mot de passe</label>
                <input type="password"
                placeholder="Optionnel"
                formControlName="password"
                class="form-control"
                data-cy="password"
                [ngClass]="{ 'is-invalid': submitted && form['password'].errors }"
                tabindex="4"
                />
                @if (submitted && form["password"].hasError('passwordExistAndIsTooShort')) {
                    <label class="error-label">Le mot de passe doit faire au minimum 6 caractères</label>
                }
            </div>

            <div class="form-group">
                <label class="form-label" >Expiration</label>
                <select class="form-control-select" formControlName="expiration" data-cy="expiration" tabindex="5">
                    <option value="1">Une journée</option>
                    <option value="2">Deux jours</option>
                    <option value="3">Trois jours</option>
                    <option value="4">Quatre jours</option>
                    <option value="5">Cinq jours</option>
                    <option value="6">Six jours</option>
                    <option value="7">Une semaine</option>
                </select>
            </div>

            <div class="form-group-button">
                @if (!form['file'].errors) {
                    <button class="form-button form-button-upload" type="submit"
                    tabindex="6"><img src="Upload.svg" width="18px" height="18px"/>Téléverser</button>
                } @else {
                    <button class="form-button form-button-upload-disabled" type="submit"
                    tabindex="6" disabled><img src="UploadReadonly.svg" width="18px" height="18px"/>Téléverser</button>
                }
            </div>
        </form>
        } @else {
            <div class="form-group-file">
                <img src="FileImage.svg"/>
                <div class="form-group-file-infos">
                    <label class="file-name-label" [textContent]="fileName()"></label>
                    <label class="file-size-label" [textContent]="fileSizeStr()"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" [textContent]="fileExpiration()"></label>
            </div>

            <div class="form-group-link">
                <a class="form-label file-link-ref" href="{{fileLink()}}" [textContent]="fileLink()"></a>
            </div>
            <div class="form-group-button form-group-button-upload">
                <button class="form-button form-button-copy" type="button" (click)="copyLink()" tabindex="3"><img src="Copy.svg" width="18px" height="18px"/>Copier le lien</button>
            </div>
        }
    </div>
</div>