<div class="modal-wrapper">
    <h2 class="form-title">Connexion</h2>
    <div class="form-wrapper">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="form-label">Email</label>
                <input
                type="text"
                placeholder="Saisissez votre email..."
                formControlName="login"
                class="form-control"
                data-cy="login"
                [ngClass]="{ 'is-invalid': submitted && form['login'].errors }"
                tabindex="3"
                />
            </div>

            <div class="form-group">
                <label class="form-label">Mot de passe</label>
                <input
                type="password"
                placeholder="Saisissez votre mot de passe..."
                formControlName="password"
                class="form-control"
                data-cy="password"
                [ngClass]="{ 'is-invalid': submitted && form['password'].errors }"
                tabindex="4"
                />
            </div>

            <div class="form-group-button">
                <button class="form-button form-button-secondary" type="button" routerLink="/register" tabindex="6">Créer un compte</button>
                <button class="form-button form-button-primary" type="submit" tabindex="5">Connexion</button>
            </div>
        </form>
    </div>
</div>