<div class="modal-wrapper">
    <h2 data-cy="title" class="form-title">Créer un compte</h2>
    <div class="form-wrapper">
        @if (registerError() != '') {
            <div data-cy="register-error" class="form-group-message form-group-error">
                <img src="Error.svg"/> 
                <label class="form-group-message-label" [textContent]="registerError()"></label>
            </div>
        }
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="form-label">Email</label>
                <input
                type="text"
                placeholder="Saisissez votre email..."
                formControlName="login"
                class="form-control"
                data-cy="login"
                [ngClass]="{ 'is-invalid': submitted && form['login'].errors }"
                tabindex="3"
                />
                @if (submitted && form["login"].hasError('required')) {
                    <label data-cy="login-required-error" class="error-label">L'email doit être saisi</label>
                } @else if (submitted && form["login"].hasError('pattern')) {
                    <label data-cy="login-pattern-error" class="error-label">L'email doit avoir la forme d'un email: exemple@mail.com</label>
                }
            </div>

            <div class="form-group">
                <label class="form-label">Mot de passe</label>
                <input
                type="password"
                placeholder="Saisissez votre mot de passe..."
                formControlName="password"
                class="form-control"
                data-cy="password"
                [ngClass]="{ 'is-invalid': submitted && form['password'].errors }"
                tabindex="4"
                />
                @if (submitted && form["password"].hasError('required')) {
                    <label data-cy="password-required-error" class="error-label">Le mot de passe doit être saisi</label>
                } @else if (submitted && form["password"].hasError('minlength')) {
                    <label data-cy="password-minlength-error" class="error-label">Le mot de passe doit faire au moins 8 caractères</label>
                }

            </div>

            <div class="form-group">
                <label class="form-label">Vérification du mot de passe</label>
                <input
                type="password"
                placeholder="Saisissez le à nouveau"
                formControlName="passwordConfirmation"
                class="form-control"
                data-cy="passwordConfirmation"
                [ngClass]="{ 'is-invalid': submitted && passwordsFieldDontMatch }"
                (change)="onPasswordConfirmationChange()"
                tabindex="5"
                />
                @if (submitted && passwordsFieldDontMatch) {
                    <label data-cy="password-match-error" class="error-label">Les mots de passe ne correspondent pas</label>
                }
            </div>

            <div class="form-group-button">
                <button data-cy="visit-login" class="form-button form-button-secondary" type="button" routerLink="/login" tabindex="7">J'ai déjà un compte</button>
                <button data-cy="submit" class="form-button form-button-primary" type="submit" tabindex="6">Créer mon compte</button>
            </div>
        </form>
    </div>
</div>