<div class="modal-wrapper">
    <h2 class="form-title">Télécharger un fichier</h2>
    <div class="form-wrapper">
        <form [formGroup]="downloadForm" (ngSubmit)="onSubmit()">
            <div class="form-group-file">
                <div class="form-group-file-icon">
                    <img src="FileImage.svg"/>
                </div>
                <div class="form-group-file-infos">
                    <label class="file-name-label" [textContent]="fileName()"></label>
                    <label class="file-size-label" [textContent]="fileSize()"></label>
                </div>
            </div>
            
            <div class="form-group-message form-group-info">
                <img src="Info.svg"/> 
                <label class="form-group-message-label" [textContent]="fileExpirationMessage()"></label>
            </div>
            <div class="form-group-message form-group-alert">
                <img src="Alert.svg"/> 
                <label class="form-group-message-label" [textContent]="fileExpirationMessage()"></label>
            </div>
            <div class="form-group-message form-group-error">
                <img src="Error.svg"/> 
                <label class="form-group-message-label" [textContent]="fileExpirationMessage()"></label>
            </div>

            <div class="form-group">
                <label class="form-label">Mot de passe</label>
                <input
                type="password"
                placeholder="Optionnel"
                formControlName="password"
                class="form-control"
                data-cy="password"
                [ngClass]="{ 'is-invalid': submitted && form['password'].errors }"
                />
            </div>

            <div class="form-group-button">
                <button type="button" class="form-button form-button-upload">Télécharger</button>
            </div>
        </form>
    </div>
</div>